/* --------- MAIN --------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font-body();
    min-height: 100vh;
    color: $light;
    // background-color: $dark;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #app {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}

/* --------- STANDARD --------- */

h2 {
    @include font-display();
}

h3,
h4 {
    @include font-headline();
    color: $primary;
}

p,
span {
    margin: 0;
    padding: 0;
}

a, button {
    text-decoration: none;
    transition: $t__faster;
    cursor: pointer;

    &:visited,
    &:hover {
        color: inherit;
    }
}

button {
    @include font-cta;
}

li {
    list-style: none;
}

/* --------- CUSTOMS --------- */

@for $i from 1 through 12 {
    .gridder-span__#{$i} {
        @include gridder-span(#{$i});
    }
    
    .gridder-start__#{$i} {
        @include gridder-start(#{$i});
    }
}

.block-list {
    @include flexxer;

    .list-entry {
        margin-right: calc($gap__v / 2);

        .list-link {
            margin-right: calc($gap__v / 2);
        }
    }
}

.wrapper {
    &__full {
        @include wrapper(full);
    }

    @include wrapper(boxed);
}

.flexxer {
    &__h {
        @include flexxer(h);
    }
    
    &__v {
        @include flexxer(v);
    }

    @include flexxer(h);
}

.gridder {
    @include gridder;
}

.btn {
    @include btn;
    
    &__full {
        @include btn($width: full);
    }
}

.divider {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $dark;
    margin-top: $gap__v-m;
}

@each $name, $color in $colors {
    .divider__#{$name} {
        @extend .divider;
        background-color: $color;
    }
}